/* general */
body {
  padding:1em 2em;
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.wrapper{
  text-align: center;
  margin: auto;
  width: 250px;
}

header{
  margin-bottom:1em;
}

header h1{
  font-size: 2.0em;
}

section{
  margin-bottom:0.5em;
  padding:0.5em;
}

#profile {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

a.linkedin {
  display: block;
  margin:20px;
}
